*.class

# Package Files #
*.jar
*.war
*.ear

roi-template/roi.aux   export-ignore
roi-template/roi.lof   export-ignore
roi-template/roi.lot   export-ignore
roi-template/roi.pdf   export-ignore
roi-template/roi.synctex.gz   export-ignore
roi-template/roi.toc   export-ignore
